<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>TodoPeliculas | Listado de películas</title>
</head>
<body>

<div class="container">

    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>

    <h2 class="text-secondary mt-4 border border-success border-top-0 border-left-0 border-right-0">Buscador de peliculas</h2>
    <form th:action="@{/peliculas/}" method="get">
        <div class="row m-5">
            <div class="col-sm">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Título</label>
                        <input type="text" class="form-control" id="nombre" name="titulo"
                               placeholder="Escriba el titulo de la película" th:value="${titulo}">
                    </div>
            </div>

            <div class="col-sm">
                    <div class="mb-3">
                        <label for="genero" class="form-label">Categoría</label>
                        <select class="form-control" id="genero" name="genero">
                            <option value="" th:selected="${genero eq ''}" disabled hidden>Seleccione un genero</option>
                            <option value="Ciencia ficción, Aventura" th:selected="${genero eq 'Ciencia ficción, Aventura'}">Ciencia ficción, Aventura</option>
                            <option value="Suspense" th:selected="${genero eq 'Suspense'}">Suspense</option>
                            <option value="Comedia" th:selected="${genero eq 'Comedia'}">Comedia</option>
                            <option value="Musicales" th:selected="${genero eq 'Musicales'}">Musicales</option>
                            <option value="Bélicas" th:selected="${genero eq 'Bélicas'}">Bélicas</option>
                        </select>
                    </div>
            </div>

            <div class="col-sm">
                    <div class="mb-3">
                        <label for="actor" class="form-label">Actor</label>
                        <input type="text" class="form-control" id="actor" name="actor"
                               placeholder="Escriba el nombre del actor" th:value="${actor}">
                    </div>
            </div>
    </div>
        <div class="row mb-0 justify-content-center">
                <div class="col d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Búsqueda</button>
                </div>
                <div class="col d-flex justify-content-center">
                    <a th:href="@{/peliculas}" class="btn btn-danger btn-primary">Quitar filtros</a>
                </div>
        </div>
    </form>
    <br><br><br>
    <h2 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="Resultados"></h2>

    <table class="table table-hover">

        <thead class="thead-light">
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Duración</th>
            <th scope="col">Año</th>
            <th scope="col">País</th>
            <th scope="col">Dirección</th>
            <th scope="col">Género</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pelicula : ${listadoPeliculas}">
            <td><a th:text="${pelicula.titulo}" th:href="@{/peliculas/informacion/{id} (id=${pelicula.id})}"></a></td>
            <td th:text="${pelicula.duracion}"></td>
            <td th:text="${pelicula.anno}"></td>
            <td th:text="${pelicula.pais}"></td>
            <td th:text="${pelicula.direccion}"></td>
            <td th:text="${pelicula.genero}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/peliculas/eliminar/{id} (id=${pelicula.id}) }" th:text="'Borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar la pelicula."><i class="fas fa-trash" aria-hidden="true"></i></a>
                <a th:href="@{/peliculas/editar/{id} (id=${pelicula.id}) }" th:text="'Editar'" class="btn btn-success btn-sm" role="button" title="Editar el curso."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
            </td>
        </tr>
        </tbody>

    </table>
    <nav th:replace="paginator-nav :: paginator"></nav>
    <br><br>
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <a th:href="@{/home}" class="btn btn-primary">Volver al inicio</a>
        </div>
        <div sec:authorize="hasRole('ADMIN')" class="col d-flex justify-content-center">
            <a th:href="@{/peliculas/nuevo}" class="btn btn-danger btn-primary">Insertar nueva pelicula</a>
        </div>
    </div>

</div>



<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>