<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TodoPeliculas | Login</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container px-5 py-5">
    <div class="row h-100 justify-content-center align-items-center">
        <h4 th:text="${mensajeError}" class="text-danger py-4"></h4>
        <h4 th:if="${msg != null}" class='text-danger py-4' th:text="${msg}"></h4>
        <div class="col-10 col-md-8 col-lg-6">
            <form th:action="@{/login}" method="post">

                <div class="form-group">
                    <input type="text" name="username" id="username"
                           class="form-control" th:placeholder="Correo" autofocus required />
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="password"
                           class="form-control" th:placeholder="Contraseña" required />
                </div>

                <input type="submit" class="btn btn-lg btn-primary btn-block"
                       th:value="Login" />

            </form>
        </div>
    </div>

    <br><br><br>
    <h6 class="d-flex justify-content-center">¿Aún no tienes cuenta?</h6>
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <a th:href="@{/usuarios/nuevo}" class="btn btn-primary">Registrarse</a>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>