<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"/>
    <meta charset="UTF-8">
    <title>TodoPeliculas | Nuevo actor</title>
</head>
<body>

<div class="container">

    <h2 class="text-secondary mt-4 border border-success border-top-0 border-left-0 border-right-0">Editar actor</h2>

    <form th:action="@{/actores/guardar}" method="post" th:object="${actor}">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="form-group mb-2">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" th:field="*{nombre}" name="nombre" placeholder="Inserte un nombre">
        </div>
        <div class="form-group mb-2">
            <label for="inputGenero">Género del actor:</label>
            <select class="form-control" id="inputGenero" th:field="*{genero}" name="genero">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="inputPais">País de nacimiento</label>
            <input type="text" class="form-control" id="inputPais" th:field="*{paisNacimiento}" name="pais">
        </div>
        <div class="form-group mb-5">
            <label for="inputFecha">Fecha de nacimiento</label>
            <input class="date-own form-control" type="text" id="inputFecha" th:field="*{fechaNacimiento}" name="fechaNacimiento" autocomplete="off">
        </div>
        <input type="hidden" th:field="*{id}" />
        <div class="row d-flex justify-content-center">
            <div class="col-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" th:text="${msgSubmit}"></button>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a th:href="@{/actores/}" class="btn btn-danger btn-primary">Cancelar</a>
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script th:src="@{/jss/bootstrap.min.js}"></script>
<script th:src="@{/jss/form.js}"></script>
</body>
</html>