<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>TodoPeliculas | Listado de actores</title>
</head>
<body>

<div class="container">

    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>

    <h2 class="text-secondary mt-4 mb-3 border border-success border-top-0 border-left-0 border-right-0">Actores</h2>
    <table class="table table-hover">

        <thead class="thead-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">País de nacimiento</th>
            <th scope="col">Fecha de nacimiento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actor : ${listadoActores}">
            <td><a th:text="${actor.nombre}" th:href="@{/actores/informacion/{id} (id=${actor.id})}"></a></td>
            <td th:text="${actor.genero}"></td>
            <td th:text="${actor.paisNacimiento}"></td>
            <td th:text="${#dates.format(actor.fechaNacimiento, 'dd-MM-yyyy')}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/actores/eliminar/{id} (id=${actor.id}) }" th:text="'Borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el actor."><i class="fas fa-trash" aria-hidden="true"></i></a>
                <a th:href="@{/actores/editar/{id} (id=${actor.id}) }" th:text="'Editar'" class="btn btn-success btn-sm" role="button" title="Editar el curso."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
            </td>
        </tr>
        </tbody>

    </table>
    <nav th:replace="paginator-nav :: paginator"></nav>
    <br><br>
    <div class="row d-flex justify-content-center">
        <div class="text-center">
            <a th:href="@{/home}" class="btn btn-danger btn-primary">Volver al inicio</a>
        </div>
        <div sec:authorize="hasRole('ADMIN')" class="col d-flex justify-content-center">
            <a th:href="@{/actores/nuevo}" class="btn btn-primary">Insertar nuevo actor</a>
        </div>
    </div>

</div>



<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>